@font-face {
    font-family: 'BrawlerRegular';
    src: url('brawler/Brawler-webfont.eot');
    src: url('brawler/Brawler-webfont.eot?#iefix') format('embedded-opentype'),
         url('brawler/Brawler-webfont.woff') format('woff'),
         url('brawler/Brawler-webfont.ttf') format('truetype'),
         url('brawler/Brawler-webfont.svg#BrawlerRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

