@{
    ViewBag.Title = "About";
    ViewBag.Message = "About";
}

<div class="one-half">
    <p>
        <span class="dropcap">M</span>y name is Jennifer Decima and I am the photographer behind the name Green Paisley Photography.
        The name green paisley was born out of my love for the color green and paisley patterns. It also is the
        color and pattern of my camera strap.
    </p>

    <p>
        I’ve always loved to take pictures and capture special moments. I think my love of photography grew
        out of a missed opportunity to get a family portrait done before my Mother passed. Since then I have
        always been the family member running around with a camera and in my daughter’s face every possible
        moment.
    </p>

    <p>
        I enjoy outdoor settings with natural light, and feel that the best pictures come out of an environment
        where the subjects feel most comfortable. This is why my photos are shot at the location of your choice,
        using props that have meaning to you.
    </p>

    <p>
        I look forward to working with you to help you capture that special moment in time. @Html.ActionLink("Contact", "Contact", "Home") me today
        to discuss your photography needs.
    </p>
</div>

<div>
    <img src="@Url.Content("~/Content/images/jennifer.jpg")" alt="Jennifer"/>
</div>
