@{
    ViewBag.Title = "About";
    ViewBag.Message = "About";
}

<div class="one-half">
    <p>
        <span class="dropcap">H</span>ello. My name is Jennifer Decima and I am the photographer behind Green Paisley Photography. I
        chose name green paisley out of my two-fold love for the color green and paisley patterns. It also is the
        color and pattern of my camera strap.
    </p>

    <p>
        I’ve always loved to take pictures and capture special moments. My interest in photography grew
        out of a missed opportunity to get a family portrait done before my Mother passed. Since then I have
        always been the family member running around with a camera and in my daughter’s face every possible
        moment.
    </p>

    <p>
        I enjoy outdoor settings with natural light and believe that the best pictures come from an environment
        in which the subjects feel most comfortable. For this reason, my photos are shot at the location of your
        choice, using props that are meaningful to you.
    </p>

    <p>
        I look forward to working with you to help capture your special moment in time. Feel free to contact me
        to discuss your photography needs.
    </p>

    <p>
        Thank you for considering Green Paisley Photography for you photography project.
    </p>
</div>

<div>
    <img src="@Url.Content("~/Content/images/jennifer.jpg")" alt="Jennifer"/>
</div>
