@{
    ViewBag.Title = "Pricing";
    ViewBag.Message = "Pricing";
}

<p>
    Every photo session represents a unique vision; therefore, it does not fit into a on-price-fits-all model.
</p>

<p>
    I do not charge sitting fees. Sessions range from one to two hours or the duration of an event as agreed
    upon during your pricing consultation. A deposit of half the agreed upon amount is required the day
    of your photo session with the remaining balance due upon the receipt of your DVD. Events such as
    weddings and reunions require an initial $250 deposit to secure your date, half of the balance paid one
    month prior to the event, and the remaining balance due upon receipt of your DVD.
    </p>

<p>
    Contact me to discuss your photography project and I will work with you to develop a package that will
    best fit your needs.        
</p>