@{
    ViewBag.Title = "Product";
    ViewBag.Message = "Product";
}

<p>
    <span class="dropcap">A</span>ll packages include a DVD of high resolution photos that have been professionally developed and
    enhanced. You will receive the copyright release to reproduce the photos on your DVD. This means
    that you can print your photos at the location of your choice and post to social media sites. Green
    Paisley can also assist in printing, collages, and photo book development for an additional fee.
</p>

<p>
    Everyone is anxious to receive their photos. Green Paisley does their best to process your photos as
    quickly as possible. Turnaround time will vary depending on the session or event, but you can expect to
    see most photos within two weeks. Photos will be made available for you to review on Green Paisley’s
    Flickr site using a guest pass.
</p>

<p>
    Green Paisley Photography reserves the right to use any of your photos as part of our promotions or
    advertising. Your photos may be posted to our web site or Facebook page, or used in printed materials
    unless prior written authorization is provided that denotes otherwise.
</p>