<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>Jupither</title>
<link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png" />
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/media-queries.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/delicious.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/brawler.css" media="all" />
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="style/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/jquery.slickforms.js"></script>
<script type="text/javascript" src="style/js/tinynav.min.js"></script>
<script type="text/javascript" src="style/js/twitter.min.js"></script>
</head>
<body class="blog">
<!-- Begin Body  Wrapper -->
<div class="body-wrapper"> 
  <!-- Begin Wrapper -->
  <div class="wrapper"> 
    <!-- Begin Header -->
    <div class="header"> 
      <!-- Begin Logo -->
      <div class="logo"> <a href="index.html"><img src="style/images/logo.png" alt="" /></a> </div>
      <!-- End Logo --> 
      <!-- Begin Menu -->
      <div id="menu" class="menu">
        <ul id="tiny">
          <li><a href="index.html">portfolio</a>
            <ul>
              <li><a href="index.html">portfolio i</a></li>
              <li><a href="index2.html">portfolio ii</a></li>
            </ul>
          </li>
          <li><a href="blog.html">blog</a>
            <ul>
              <li><a href="post.html">blog post</a></li>
            </ul>
          </li>
          <li><a href="full-width.html">pages</a>
            <ul>
              <li><a href="full-width.html">full width</a></li>
              <li><a href="page-sidebar.html">page with sidebar</a></li>
            </ul>
          </li>
          <li class="active"><a href="typography.html">styles</a>
            <ul>
              <li><a href="typography.html">typography</a></li>
              <li><a href="columns.html">columns</a></li>
              <li><a href="others.html">others</a></li>
            </ul>
          </li>
          <li><a href="contact.html">contact</a></li>
        </ul>
      </div>
      <div class="clear"></div>
      <!-- End Menu --> 
    </div>
    <!-- End Header --> 
    <!-- Begin Container -->
    <div class="container">
      <div class="intro">
        <p>Hello! Thanks for taking some time to visit Studio Jupither's portfolio. Here you will be able to find our latest and favorite works.</p>
        <div class="social">
          <h3>Elsewhere:</h3>
          <ul>
            <li><a href="#"><img src="style/images/icon-rss.png" alt="" /></a></li>
            <li><a href="#"><img src="style/images/icon-facebook.png" alt="" /></a></li>
            <li><a href="#"><img src="style/images/icon-twitter.png" alt="" /></a></li>
            <li><a href="#"><img src="style/images/icon-dribbble.png" alt="" /></a></li>
            <li><a href="#"><img src="style/images/icon-flickr.png" alt="" /></a></li>
            <li><a href="#"><img src="style/images/icon-pinterest.png" alt="" /></a></li>
          </ul>
        </div>
      </div>
      <!-- Begin Content -->
      <div class="content"> 
        
        <!-- Begin Column -->
        <div class="one-half">
          <h3>Tabs</h3>
          <ul class="tabs">
            <li><a href="#tab1">This is</a></li>
            <li><a href="#tab2">Tabbed</a></li>
            <li><a href="#tab3">Content</a></li>
          </ul>
          <div class="tab_container">
            <div id="tab1" class="tab_content">
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc rhoncus tortor quis eros bibendum a tempus est dapibus.</p>
            </div>
            <div id="tab2" class="tab_content">
              <p>Etiam molestie, risus eu gravida lobortis, velit sapien aliquam lectus, nec hendrerit lectus erat ac libero. Aenean fermentum luctus viverra. Pellentesque id lectus ante, vel tristique elit. Fusce mattis, purus non consectetur cursus, justo nisi viverra sem, ac lobortis ipsum sapien vel purus. Vivamus aliquet gravida nibh sit amet accumsan. Fusce et lorem nunc. </p>
            </div>
            <div id="tab3" class="tab_content">
              <p>Nulla non tortor eget ligula dapibus semper non ut mauris. Nam feugiat, lorem a tempus auctor, odio nisl porttitor lacus, ut ultrices neque massa a odio. Pellentesque sit amet leo dictum nisl tempor malesuada id ut magna. Etiam non mauris eget massa sagittis euismod. Aliquam lectus nulla, consequat eget molestie id, malesuada sit amet lectus. Pellentesque eget justo sit amet nunc adipiscing semper at ac quam.</p>
            </div>
          </div>
        </div>
        <!-- End Column --> 
        <!-- Begin Column -->
        <div class="one-half last">
          <h3>Toggle</h3>
          <!-- Begin Toggle -->
          <div class="toggle">
            <h4 class="title">Click to title</h4>
            <div class="togglebox">
              <div>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc rhoncus tortor quis eros bibendum a tempus est dapibus. Vivamus consectetur quam eu tellus porttitor ultrices. Nunc metus massa, ullamcorper sit amet malesuada a, porttitor in tellus.</p>
              </div>
            </div>
          </div>
          <!-- End Toggle --> 
          
          <!-- Begin Toggle -->
          <div class="toggle">
            <h4 class="title">Click to title</h4>
            <div class="togglebox">
              <div>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc rhoncus tortor quis eros bibendum a tempus est dapibus. Vivamus consectetur quam eu tellus porttitor ultrices. Nunc metus massa, ullamcorper sit amet malesuada a, porttitor in tellus.</p>
              </div>
            </div>
          </div>
          <!-- End Toggle --> 
          
          <!-- Begin Toggle -->
          <div class="toggle">
            <h4 class="title">Click to title</h4>
            <div class="togglebox">
              <div>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc rhoncus tortor quis eros bibendum a tempus est dapibus. Vivamus consectetur quam eu tellus porttitor ultrices. Nunc metus massa, ullamcorper sit amet malesuada a, porttitor in tellus.</p>
              </div>
            </div>
          </div>
          <!-- End Toggle --> 
          
        </div>
        <!-- End Column -->
        <div class="clear"></div>
        <div class="line"></div>
        
        <!-- Begin Column -->
        
        <div class="one-half">
          <h3>Boxes</h3>
          <div class="info-box">This is an information box</div>
          <div class="download-box">This is a download box</div>
          <div class="warning-box">This is a warning box</div>
          <div class="note-box">This is a note box</div>
        </div>
        <!-- End Column --> 
        
        <!-- Begin Column -->
        
        <div class="one-half last">
          <h3>Buttons</h3>
          <div class="one-third"><a href="#" class="button green">Button</a></div>
          <div class="one-third"><a href="#" class="button red">Button</a></div>
          <div class="one-third last"><a href="#" class="button gray">Button</a></div>
          <div class="one-third"><a href="#" class="button blue">Button</a></div>
          <div class="one-third"><a href="#" class="button lime">Button</a></div>
          <div class="one-third last"><a href="#" class="button purple">Button</a></div>
          <div class="one-third"><a href="#" class="button black">Button</a></div>
          <div class="one-third"><a href="#" class="button maroon">Button</a></div>
          <div class="one-third last"><a href="#" class="button brown">Button</a></div>
        </div>
        <!-- End Column --> 
        
      </div>
      <!-- End Content --> 
      
    </div>
    <!-- End Container -->
    <div class="clear"></div>
  </div>
  <!-- End Wrapper --> 
  <!-- Begin Footer -->
  <div class="footer-wrapper">
    <div class="footer"> 
      <!-- Begin Widget -->
      <div class="sidebox">
        <h3>Recent Posts</h3>
        <ul class="posts-list">
          <li> <a href="#"><img src="style/images/art/blogth-1.jpg" alt="" /></a>
            <h6><a href="#">Interior Design Workshop</a></h6>
            <span>02 Mar 2012</span> </li>
          <li> <a href="#"><img src="style/images/art/blogth-2.jpg" alt="" /></a>
            <h6><a href="#">Unbearable Waiting Hours in the Doctor's Office</a></h6>
            <span>23 Dec 2011</span> </li>
          <li> <a href="#"><img src="style/images/art/blogth-3.jpg" alt="" /></a>
            <h6><a href="#">How to Eat Healthy</a></h6>
            <span>15 Nov 2011</span> </li>
        </ul>
      </div>
      <!-- End Widget --> 
      <!-- Begin Widget -->
      <div class="sidebox">
        <h3>Twitter</h3>
        <div id="twitter-wrapper">
          <div id="twitter"></div>
          <span class="username"><a href="http://twitter.com/elemisdesign">→ Follow @elemisdesign</a></span> </div>
      </div>
      <!-- End Widget --> 
      <!-- Begin Widget -->
      <div class="sidebox">
        <h3>Contact</h3>
        <!-- Begin Form -->
        <div class="form-container">
          <div class="response"></div>
          <form class="forms" action="contact/form-handler.php" method="post">
            <fieldset>
              <ol>
                <li class="form-row text-input-row">
                  <input type="text" name="name" class="text-input" title="Name"/>
                </li>
                <li class="form-row text-input-row">
                  <input type="text" name="email" class="text-input required email" title="Email"/>
                </li>
                <li class="form-row text-area-row">
                  <textarea name="message" class="text-area required"></textarea>
                </li>
                <li class="form-row hidden-row">
                  <input type="hidden" name="hidden" value="" />
                </li>
                <li class="button-row">
                  <input type="submit" value="Submit" name="submit" class="btn-submit" />
                </li>
              </ol>
              <input type="hidden" name="v_error" id="v-error" value="Required" />
              <input type="hidden" name="v_email" id="v-email" value="Enter a valid email" />
            </fieldset>
          </form>
        </div>
        <!-- End Form --> 
      </div>
      <!-- End Widget --> 
    </div>
  </div>
  <!-- End Footer -->
  
  <div class="push"></div>
</div>
<!-- End Body Wrapper --> 
<!-- Begin Bottom Section -->
<div class="bottom-wrapper">
  <div class="bottom">
    <p>© 2012 Jupither</p>
    <a href="#top" class="scroll-top" title="Go to top"></a> </div>
</div>
<!--End Bottom Section --> 
<script type="text/javascript" src="style/js/scripts.js"></script>
</body>
</html>