<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>Jupither</title>
<link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png" />
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/media-queries.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/delicious.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/brawler.css" media="all" />
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="style/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/jquery.slickforms.js"></script>
<script type="text/javascript" src="style/js/tinynav.min.js"></script>
<script type="text/javascript" src="style/js/twitter.min.js"></script>
</head>
<body class="blog">
<!-- Begin Body  Wrapper -->
<div class="body-wrapper"> 
  <!-- Begin Wrapper -->
  <div class="wrapper"> 
    <!-- Begin Header -->
    <div class="header"> 
      <!-- Begin Logo -->
      <div class="logo"> <a href="index.html"><img src="style/images/logo.png" alt="" /></a> </div>
      <!-- End Logo --> 
      <!-- Begin Menu -->
      <div id="menu" class="menu">
        <ul id="tiny">
          <li><a href="index.html">portfolio</a>
            <ul>
              <li><a href="index.html">portfolio i</a></li>
              <li><a href="index2.html">portfolio ii</a></li>
            </ul>
          </li>
          <li><a href="blog.html">blog</a>
            <ul>
              <li><a href="post.html">blog post</a></li>
            </ul>
          </li>
          <li><a href="full-width.html">pages</a>
            <ul>
              <li><a href="full-width.html">full width</a></li>
              <li><a href="page-sidebar.html">page with sidebar</a></li>
            </ul>
          </li>
          <li class="active"><a href="typography.html">styles</a>
            <ul>
              <li><a href="typography.html">typography</a></li>
              <li><a href="columns.html">columns</a></li>
              <li><a href="others.html">others</a></li>
            </ul>
          </li>
          <li><a href="contact.html">contact</a></li>
        </ul>
      </div>
      <div class="clear"></div>
      <!-- End Menu --> 
    </div>
    <!-- End Header --> 
    <!-- Begin Container -->
    <div class="container">
      <div class="intro">
        <p>Hello! Thanks for taking some time to visit Studio Jupither's portfolio. Here you will be able to find our latest and favorite works.</p>
        <div class="social">
          <h3>Elsewhere:</h3>
          <ul>
            <li><a href="#"><img src="style/images/icon-rss.png" alt="" /></a></li>
            <li><a href="#"><img src="style/images/icon-facebook.png" alt="" /></a></li>
            <li><a href="#"><img src="style/images/icon-twitter.png" alt="" /></a></li>
            <li><a href="#"><img src="style/images/icon-dribbble.png" alt="" /></a></li>
            <li><a href="#"><img src="style/images/icon-flickr.png" alt="" /></a></li>
            <li><a href="#"><img src="style/images/icon-pinterest.png" alt="" /></a></li>
          </ul>
        </div>
      </div>
      <!-- Begin Content -->
      <div class="content">
        <div class="one-half">
          <h3>Unordered List</h3>
          <ul>
            <li>Pellentesque non diam et tortor dignissim. </li>
            <li>Neque sit amet mauris egestas quis mattis. </li>
            <li>Cras justo odio, dapibus ac facilisis.</li>
            <li>Curabitur viver justo sed scelerisque.</li>
          </ul>
        </div>
        <div class="one-half last">
          <h3>Ordered List</h3>
          <ol>
            <li>Pellentesque non diam et tortor dignissim. </li>
            <li>Neque sit amet mauris egestas quis mattis. </li>
            <li>Curabitur viver justo sed scelerisque.</li>
            <li>Condimentum aenean risus malesuada tortor.</li>
          </ol>
        </div>
        <div class="clear"></div>
        <div class="line"></div>
        <h3>Blockquote</h3>
        <blockquote>
          <p>Pellentesque non diam et tortor dignissim bibendum. Neque sit amet mauris egestas quis mattis velit fringilla. Curabitur viver justo sed scelerisque.</p>
        </blockquote>
        <div class="line"></div>
        <h3>Dropcap</h3>
        <p><span class="dropcap">D</span>uis non lectus sit amet est imperdiet cursus elementum vitae eros. Cras quis odio in risus euismod suscipit. Fusce viverra ligula vel justo bibendum semper. Nulla facilisi. Donec interdum, enim in dignissim lacinia, lectus nisl viverra lorem, ac pulvinar nunc ante at neque. Proin et dui eros, at aliquet est. Pellentesque consectetur lectus quis enim mollis ut convallis urna malesuada. Sed tincidunt interdum sapien vel gravida. Nulla a tellus lectus, in aliquet tellus. Donec aliquam neque quis mi.
        <div class="line"></div>
        <h3>Hightlights</h3>
        <p>Duis non lectus sit amet est imperdiet cursus elementum vitae eros. <span class="lite1">This is hightlight</span> morbi vitae magna tellus, ac mattis urna. <span class="lite2">This is second highlight</span> posuere. Cras quis odio in risus euismod suscipit. Fusce viverra ligula vel justo bibendum semper.
        <div class="line"></div>
        <div class="one-third">
          <h3>Special Texts</h3>
          <p><em>This is emphasised text</em><br />
            <strong>This is strong text</strong><br />
            <abbr title="This is an abbr - &lt;abbr&gt;&lt;/abbr&gt;">This is an abbr</abbr><br />
            <del>This is deleted text</del><br />
            <a href="#">This is a link</a></p>
        </div>
        <div class="one-third">
          <h3>Code Display</h3>
          <pre><code>A block of code
A block of code
A block of code
A block of code
A block of code
A block of code</code></pre>
        </div>
        <div class="one-third last">
          <h3>Misc Typography</h3>
          <p>Lorem <sup>superscript</sup> dolor <sub>subscript</sub> amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. <cite>cite</cite>. Nunc iaculis suscipit dui. Nam sit amet sem. <abbr title="Avenue">AVE</abbr></p>
        </div>
        <div class="clear"></div>
      </div>
      <!-- End Content --> 
      
    </div>
    <!-- End Container -->
    <div class="clear"></div>
  </div>
  <!-- End Wrapper --> 
  <!-- Begin Footer -->
  <div class="footer-wrapper">
    <div class="footer"> 
      <!-- Begin Widget -->
      <div class="sidebox">
        <h3>Recent Posts</h3>
        <ul class="posts-list">
          <li> <a href="#"><img src="style/images/art/blogth-1.jpg" alt="" /></a>
            <h6><a href="#">Interior Design Workshop</a></h6>
            <span>02 Mar 2012</span> </li>
          <li> <a href="#"><img src="style/images/art/blogth-2.jpg" alt="" /></a>
            <h6><a href="#">Unbearable Waiting Hours in the Doctor's Office</a></h6>
            <span>23 Dec 2011</span> </li>
          <li> <a href="#"><img src="style/images/art/blogth-3.jpg" alt="" /></a>
            <h6><a href="#">How to Eat Healthy</a></h6>
            <span>15 Nov 2011</span> </li>
        </ul>
      </div>
      <!-- End Widget --> 
      <!-- Begin Widget -->
      <div class="sidebox">
        <h3>Twitter</h3>
        <div id="twitter-wrapper">
          <div id="twitter"></div>
          <span class="username"><a href="http://twitter.com/elemisdesign">→ Follow @elemisdesign</a></span> </div>
      </div>
      <!-- End Widget --> 
      <!-- Begin Widget -->
      <div class="sidebox">
        <h3>Contact</h3>
        <!-- Begin Form -->
        <div class="form-container">
          <div class="response"></div>
          <form class="forms" action="contact/form-handler.php" method="post">
            <fieldset>
              <ol>
                <li class="form-row text-input-row">
                  <input type="text" name="name" class="text-input" title="Name"/>
                </li>
                <li class="form-row text-input-row">
                  <input type="text" name="email" class="text-input required email" title="Email"/>
                </li>
                <li class="form-row text-area-row">
                  <textarea name="message" class="text-area required"></textarea>
                </li>
                <li class="form-row hidden-row">
                  <input type="hidden" name="hidden" value="" />
                </li>
                <li class="button-row">
                  <input type="submit" value="Submit" name="submit" class="btn-submit" />
                </li>
              </ol>
              <input type="hidden" name="v_error" id="v-error" value="Required" />
              <input type="hidden" name="v_email" id="v-email" value="Enter a valid email" />
            </fieldset>
          </form>
        </div>
        <!-- End Form --> 
      </div>
      <!-- End Widget --> 
    </div>
  </div>
  <!-- End Footer -->
  
  <div class="push"></div>
</div>
<!-- End Body Wrapper --> 
<!-- Begin Bottom Section -->
<div class="bottom-wrapper">
  <div class="bottom">
    <p>© 2012 Jupither</p>
    <a href="#top" class="scroll-top" title="Go to top"></a> </div>
</div>
<!--End Bottom Section --> 
<script type="text/javascript" src="style/js/scripts.js"></script>
</body>
</html>